.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .sobre_Nosaltres {
    width: 80%;
  }
  
.container_primera_part img{
float: left;
width: 35%;
}

.container_primera_part p{
    float: right;
}

container_segona_part img{
    float: right;
}

container_segona_part p{
    float: left;
}

